html, body {
  font-family: "Roboto", "Helvetica", sans-serif;
}

#content {
  border-radius: 2px;
  padding: 30px 56px;
}

nav.mdl-navigation  {
  .active {
    background-color: rgba(230, 230, 230, .9);
  }
}

nav.section-content {
  color: rgb(0, 188, 212);
  font-size: 16px;

  li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
  }
}

.mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}

.mdl-navigation__link .material-icons {
  font-size: 24px;
  margin-right: 6px;
}

.drawer-level-2 {
  border-left-color: rgba(230, 230, 230, .9);
  border-left-style: solid;
  border-left-width: 2px;
  margin-left: 50px;

  a {
    padding-left: 20px !important;
  }
}

pre {
  padding-left: 15px;
  font-size: 13px;
}

span.highlight {
  padding: 2px 5px;
}

.breadcrumbs {
  a {
    text-decoration: none;
  }
}

.section__icon-container {
  width: 64px;
  height: 64px;
  margin: 8px 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  flex-start: 1;

  i {
    font-size: 48px;
  }
}

.section__text {
  border-bottom-color: rgba(230, 230, 230, .9);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top: 8px;

  h5 {
    margin: 0;
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
  }
}

#main_vertical_spacer {
  margin-top: 40px;
}

.download-card {
  margin-top: 20px;
  margin-bottom: 20px;
}
