---
title: Installation
drawer_current: installation-index
---

%h4 Compiled packages

%h5 Windows
%p
  Create a new directory for dom4tools, for example
  = content_tag :span, class: "highlight" do
    c:\games\dom4tools
  \.

%p
  Download the proper package from
  = link_to "here", "/downloads.html"
  , then extract the zip into your newly created directory.

%p
  Add your newly created directory to your PATH variable, following
  = link_to "these instructions", "http://www.computerhope.com/issues/ch000549.htm"
  \.

%p
  Make sure the installation worked by opening a command line prompt (Start -> run -> cmd) and running
  = content_tag :span, class: "highlight" do
    d4t --version
  \.

%h5 Linux

%p
  Download the proper package from
  = link_to "here", "/downloads.html"
  , then extract the zip and move the executable to your path (I suggest
  = content_tag :span, class: "highlight" do
    \/usr/local/bin/
  ).

%p
  Make sure the installation worked by running
  = content_tag :span, class: "highlight" do
    d4t --version
  \.


%h4 Debian / Ubuntu

%p
  If you prefer using apt to downloading packages by hand, you're in luck (thanks to the folks over at
  = link_to "Bintray", "https://www.bintray.com"
  ).

%p
  The packages are signed, so you will need to add the repositorys GPG key to your apt keyring.

  :code
    # lang: shell
    wget -qO - https://bintray.com/user/downloadSubjectPublicKey?username=promisedlandt | sudo apt-key add -

%p
  Add the repository. Be sure to replace CODENAME with your distribution's codename (squeeze, wheezy, jessie, precise, trusty, vivid).

  :code
    # lang: shell
    sudo sh -c 'echo "deb http://dl.bintray.com/promisedlandt/dom4tools_deb CODENAME main" \
    > /etc/apt/sources.list.d/dom4tools.list'

%p
  Finally, update the package index and install dom4tools.

  :code
    # lang: shell
    sudo apt-get update && sudo apt-get install dom4tools

%p
  Make sure the installation worked by running
  = content_tag :span, class: "highlight" do
    d4t --version
  \.

- if false
  %h4 CentOS

  %p
    As root, create
    = content_tag :span, class: "highlight" do
      \/etc/yum.repos.d/dom4tools.repo
    with the following content:

    :code
      # lang: ini
      [dom4tools]
      name=dom4tools
      baseurl=https://dl.bintray.com/promisedlandt/dom4tools_rpm
      enabled=1
      gpgcheck=1
      gpgkey=https://bintray.com/user/downloadSubjectPublicKey?username=promisedlandt
  %p
    As root, install dom4tools.

    :code
      # lang: shell
      yum install dom4tools
  %p
    Make sure the installation worked by running
    = content_tag :span, class: "highlight" do
      d4t --version
    \.
