---
title: Tab Completion
drawer_current: installation-tab_completion
---

%p
  Dom4tools includes tab completion for subcommand names, and game names for subcommands that accept them.

%h4 Linux / Mac

%h5 bash
%p
  If you have installed dom4tools from a repository, bash completion is already installed and set up. All you need to do is close and reopen your shell.

%p
  Otherwise, download
  = link_to "this file", "https://raw.githubusercontent.com/dom4tools/dom4tools/master/autocomplete/bash/d4t"
  and move it to
  = content_tag :span, class: "highlight" do
    \/etc/bash_completion.d/d4t
  \.
  You will need to close and reopen your shell.

%h5 zsh

%p
  Install the bash completion as described above (unless you installed from a repository).

  Then add the following to your
  = content_tag :span, class: "highlight" do
    \.zshrc
  \:

  :code
    # lang: shell
    autoload -U compinit && compinit
    autoload -U bashcompinit && bashcompinit

    source /etc/bash_completion.d/d4t
Close and reopen your shell.

%h4 Windows

%h5 Cygwin

%p
  Install Cygwin following
  = link_to "the official installation guide", "https://www.cygwin.com/install.html"
  \.

%p
  Open Cygwin and execute the following 3 commands:

  :code
    # lang: shell
    lynx -source rawgit.com/transcode-open/apt-cyg/master/apt-cyg > apt-cyg
    install apt-cyg /bin
    apt-cyg install bash-completion
%p
  Then, download
  = link_to "this file", "https://raw.githubusercontent.com/dom4tools/dom4tools/master/autocomplete/bash/d4t"
  and place it in
  = content_tag :span, class: "highlight" do
    C:\cygwin64\etc\bash_completion.d
  \.

%p
  When you start Cygwin, tab completion should work.

%h5 Powershell

%p
  If you have any idea how to write tab completion scripts for Powershell, please
  = link_to "contact me", "/contact.html"
  \.

%h5 cmd.exe

%p
  Unfortunately,
  = content_tag :span, class: "highlight" do
    cmd.exe
  does not support custom tab completion.
