%footer.mdl-mega-footer
  .mdl-mega-footer__middle-section
    .mdl-mega-footer__drop-down-section
      %input.mdl-mega-footer__heading-checkbox{ type: "checkbox", checked: "checked" }
      %h1.mdl-mega-footer__heading Manual
      %ul.mdl-mega-footer__link-list
        - data.commands["subcommands"].each do |command|
          %li= link_to command.name, command_path(command)

    .mdl-mega-footer__drop-down-section
      %input.mdl-mega-footer__heading-checkbox{ type: "checkbox", checked: "checked" }
      %h1.mdl-mega-footer__heading Examples
      %ul.mdl-mega-footer__link-list
        %li= link_to "Getting started", "/examples/getting_started.html"
        %li= link_to "Viewing old turns", "/examples/viewing_old_turns.html"
        %li= link_to "Backfilling old turns", "/examples/backfilling_old_turns.html"
        %li= link_to "Creating an AAR", "/examples/creating_aar.html"

    .mdl-mega-footer__drop-down-section
      %input.mdl-mega-footer__heading-checkbox{ type: "checkbox", checked: "checked" }
      %h1.mdl-mega-footer__heading Installation
      %ul.mdl-mega-footer__link-list
        %li= link_to "d4t", "/installation/index.html"
        %li= link_to "Tab completion", "/installation/tab_completion.html"

  .mdl-mega-footer__bottom-section
    %ul.mdl-mega-footer__link-list
      %li= link_to "Introduction", "/index.html"
      %li= link_to "Downloads", "/downloads.html"
      %li= link_to "Contact", "/contact.html"
      %li= link_to "Source", "https://github.com/dom4tools/dom4tools"
