= wrap_layout :layout do
  - content_for :drawer_examples do
    .drawer-level-2
      = link_to "Getting started", "/examples/getting_started.html", class: "mdl-navigation__link #{ active_element("examples-getting_started") }"
      = link_to "Viewing old turns", "/examples/viewing_old_turns.html", class: "mdl-navigation__link #{ active_element("examples-viewing_old_turns") }"
      = link_to "Backfilling old turns", "/examples/backfilling_old_turns.html", class: "mdl-navigation__link #{ active_element("examples-backfilling_old_turns") }"
      = link_to "Creating an AAR", "/examples/creating_aar.html", class: "mdl-navigation__link #{ active_element("examples-creating_aar") }"
  = yield
