= wrap_layout :layout do
  - content_for :drawer_installation do
    .drawer-level-2
      = link_to "Tab completion", "/installation/tab_completion.html", class: "mdl-navigation__link #{ active_element("installation-tab_completion") }"
  = yield
