!!!
%html{ lang: "en"}
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: "description", content: current_page.data.description }
    %meta{ name: "google-site-verification", content: "VGRbbWwWKNLHdyXxTv-Gzs3zLWoNMq2OCEzBME8J-Ag" }
    %title= [current_page.data.title, "dom4tools"].compact.join(" - ")
    = stylesheet_link_tag "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css"
    = stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
    = stylesheet_link_tag "application"
    = javascript_include_tag "https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"
    %style
      = Rouge::Themes::Github.render(scope: ".highlight")

  %body.mdl-color--grey-100.mdle-color-text--grey-700.mdl-base
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-drawer
      %header.mdl-layout__header
        .mdl-layout__header-row
          %span.mdl-layout-title
            = link_to "Home", "/index.html", class: "mdl-navigation__link"
          .mdl-layout-spacer
          %nav.mdl-navigation
            = link_to "Downloads (v#{ latest_version })", "/downloads.html", class: "mdl-navigation__link"
            = link_to "Manual", "/manual/index.html", class: "mdl-navigation__link"

      #drawer.mdl-layout__drawer
        %span.mdl-layout-title dom4tools
        %nav.mdl-navigation
          = link_to "/index.html", class: "mdl-navigation__link #{ active_element("introduction") }" do
            %i.mdl-color-text--blue-grey-400.material-icons{ role: :presentation } home
            Introduction
          = link_to "/manual/index.html", class: "mdl-navigation__link #{ active_element("manual-index") }" do
            %i.mdl-color-text--blue-grey-400.material-icons{ role: :presentation } description
            Manual
          = yield_content :drawer_manual
          = link_to "/examples/index.html", class: "mdl-navigation__link #{ active_element("examples-index") }" do
            %i.mdl-color-text--blue-grey-400.material-icons{ role: :presentation } help
            Examples
          = yield_content :drawer_examples
          = link_to "/installation/index.html", class: "mdl-navigation__link #{ active_element("installation-index") }" do
            %i.mdl-color-text--blue-grey-400.material-icons{ role: :presentation } system_update_alt
            Installation
          = yield_content :drawer_installation
          = link_to "/downloads.html", class: "mdl-navigation__link #{ active_element("downloads") }" do
            %i.mdl-color-text--blue-grey-400.material-icons{ role: :presentation } file_download
            Downloads
          = link_to "/contact.html", class: "mdl-navigation__link #{ active_element("contact") }" do
            %i.mdl-color-text--blue-grey-400.material-icons{ role: :presentation } mail
            Contact

      %main.mdl-layout__content
        .mdl-grid
          #main_vertical_spacer.mdl-cell.mdl-cell--12-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
          #main_horizontal_spacer.mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone

          #content.mdl-color--white.mdl-shadow--4dp.content.mdl-color-text--grey-800.mdl-cell.mdl-cell--8-col
            %h3= current_page.data.title

            = yield

          #main_vertical_spacer.mdl-cell.mdl-cell--12-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
        = partial "layouts/footer"
