= wrap_layout :layout do
  - content_for :drawer_manual do
    .drawer-level-2
      - data.commands["subcommands"].each do |command|
        = link_to command_path(command), class: "mdl-navigation__link #{ active_element("manual-commands-#{ command.name }") }" do
          %i.mdl-color-text--blue-grey-400.material-icons{ role: :presentation }= command.icon
          = command.name

  = yield
