.section__icon-container.mdl-cell.mdl-cell--1-col
  = link_to command_path(command) do
    %i.mdl-color-text--blue-grey-400.material-icons.md-48{ role: :presentation }= command.icon

.section__text.mdl-cell.mdl-cell--11-col-desktop.mdl-cell--6-colr-tablet.mdl-cell--3-col-phone
  %h5
    = link_to command.name, command_path(command)

  = command.description
