---
title: Backfilling old turns
drawer_current: examples-backfilling_old_turns
---

%p
  You now realize
  = link_to "the benefits of keeping turn backups", "/examples/viewing_old_turns.html"
  , but you don't have backups from the time before you started dom4tools.

%p
  Except you do - in your emails! dom4tools does not help you much with backfilling these old turns, but it might be worth the manual labor.

%p
  Simply download the .trn and .2h files from the mails into the game directory, then run
  = content_tag :span, class: "highlight" do
    d4t backup AGameOfThronesOfAscension 5
  etc..
