---
title: Creating an AAR
drawer_current: examples-creating_aar
---

%p
  AARs (after action reports) are still
  = content_tag :i do
    en vogue
  in Dominions 4, whether in text form or as youtube videos.

%p
  They are, however, fairly annoying to create since you need to watch one turn, quit to the main menu, restore a backup, "Play an existing game" and start all over.

%p
  dom4tools aims to make this simpler by creating games from your backup files, that way, once you're in Dominions 4, all you need to do is switch between games there.

%p
  The command to work this magic for our example is
  = content_tag :span, class: "highlight" do
    d4t replay AGameOfThronesOfAscension
  \. This would create a new game for every backed up turn - AGameOfThronesOfAscension1, AGameOfThronesOfAscension2, all the way up to, say, AGameOfThronesOfAscension107.

%p
  This works very well for shorter games (~30 turns), but does get unwieldy for longer games. Who wants to scroll through 107 additional games?

%p
  Worry not, dom4tools doesn't have to create all the replays at once. Get started with
  = content_tag :span, class: "highlight" do
    d4t replay AGameOfThronesOfAscension --start-turn=1 --count=10
  and you will get 10 turns, starting from turn 1.

%p
  When you're done with the first batch of turns, delete the replay games with
  = content_tag :span, class: "highlight" do
    d4t replay AGameOfThronesOfAscension --start-turn=1 --count=10 --delete
  and get started on the next 10 turns:
  = content_tag :span, class: "highlight" do
    d4t replay AGameOfThronesOfAscension --start-turn=11 --count=10
  \. You now have turns 11-20 to report on.
