---
title: Getting started on an existing game
drawer_current: examples-getting_started
---

%p
  Let's assume you have freshly installed dom4tools and want to use it with an ongoing game called "AGameOfThronesOfAscension" that is currently on turn 6. Oh, and you're playing Fomoria.

%p
  First things first - if we want to use dom4tools to email our turns for us, we need to let it know our email credentials. You can find a how-to
  = link_to "here", command_path("submit"), anchor: "setup"
  \.

%p
  If you're not comfortable with entering your email credentials, don't worry! Just skip entering them and submit your turns manually, you can still use all other functionality.

%p
  Either way, you play your regular turn (turn 6 in this example).

%p
  When you're done with your turn, it's time to submit it. If you entered your email credentials, simply do
  = content_tag :span, class: "highlight" do
    d4t submit AGameOfThronesOfAscension 6
  , dom4tools will backup your .trn and .2h files and mail your turn to llamaserver.

%p
  If you're the cautious sort and don't want to use dom4tools to use your email, instead use
  = content_tag :span, class: "highlight" do
    d4t backup AGameOfThronesOfAscension 6
  to only do the backup. Then submit your turn manually.

%p
  Either way, if you check the directory with the game files, you should find
  = content_tag :span, class: "highlight" do
    early_fomoria-6.trn
  and
  = content_tag :span, class: "highlight" do
    early_fomoria-6.2h
  , your newly created backup files.

%p
  If you get into the habit of backing up before submitting a turn (the submit command will even backup for you), you'll find it incredibly easy to check previous turns for strategic information, and creating after action reports will be a snap.

%p
  If you've used the submit command, you probably got the llamaserver "turn received" mail by now.

%p
  Let's forward a couple of hours. Everyone got their turns in (even Ulm), and you get the "New turn file" email. Awesome!

%p
  Now, if you're using a real mail client, just download the file to the game directory, same as you've always done.

%p
  But if you're using a webmailer, chances are your turn files get downloaded into your Downloads folder, and you have to manually move them from there.
  To make this easier, you can simply run
  = content_tag :span, class: "highlight" do
    d4t get AGameOfThronesOfAscension
  to copy the new turn file to the game directory.

%p
  After you've played your turn, it's time to submit again. This time around, it's even easier. Since we already have a backup for turn 6, we can just run
  = content_tag :span, class: "highlight" do
    d4t submit AGameOfThronesOfAscension
  \.

%p
  dom4tools figures that if the last turn was turn 6, and you want to submit a new turn, this must be turn 7. So it creates the backups for turn 7, and submits the turn.

%p
  From here on out, this is all you have to do - download the turn,
  = content_tag :span, class: "highlight" do
    d4t get AGameOfThronesOfAscension
  , play the turn,
  = content_tag :span, class: "highlight" do
    d4t submit AGameOfThronesOfAscension
  \.

%p
  But wait! You just submitted turn 7, but you forgot to blood hunt your capital! Open the game again, set your awake B9 Monolith to blood hunting, end the turn and run
  = content_tag :span, class: "highlight" do
    d4t resubmit AGameOfThronesOfAscension
  \. Once again, because the latest backup is turn 7, and you want to resubmit a turn, dom4tools figures out you want to resubmit turn 7.

%p
  The turn 7 backups will be overwritten by the new turn 7, and your turn will be emailed out.

%p
  If you're not using the submit functionality, you can overwrite the existing turn 7 backup by running
  = content_tag :span, class: "highlight" do
    d4t backup AGameOfThronesOfAscension 7 --force
  (the force flag is so you don't accidentally overwrite your backups).

%p
  Congratulations, you're now on track for saving minutes every day. Minutes! Use them wisely.
