---
title: Examples
drawer_current: examples-index
---

%p
  Reading documentation only gets you so far.

%p
  Below, you can find examples of dom4tools in action.

%p
  = link_to "Getting started on an existing game", "/examples/getting_started.html"

%p
  = link_to "Viewing backups of old turns", "/examples/viewing_old_turns.html"

%p
  = link_to "Backfilling old turn backups", "/examples/backfilling_old_turns.html"

%p
  = link_to "Creating an after action report", "/examples/creating_aar.html"
