---
title: Viewing old turns
drawer_current: examples-viewing_old_turns
---

%p
  You can either keep good records of what exactly was in the army that ran into your 1 PD a few turns ago, or what was in the throne province your retreating commander scouted out, or you can just check the old turns.

%p
  Assuming you've been backing up your turns before submitted them, this is easy-ish to do with dom4tools (and will be improved in a future version).

%p
  Simply save progress for your current turn (continuing our previous example, we're now on turn 8 of AGameOfThronesOfAscension):
  = content_tag :span, class: "highlight" do
    d4t backup AGameOfThronesOfAscension 8
  and then restore the old backed up turn:
  = content_tag :span, class: "highlight" do
    d4t restore AGameOfThronesOfAscension 6
  \.

%p
  If you open the game now, you have magically moved back to turn 6. Check whatever you wanted to check, then restore the current turn with
  = content_tag :span, class: "highlight" do
    d4t restore AGameOfThronesOfAscension 8
  \.

%p
  There's only one catch now - since there are backup files for turn 8, when we submit, dom4tools thinks we want to submit turn 9. Get around this by submitting with
  = content_tag :span, class: "highlight" do
    d4t resubmit AGameOfThronesOfAscension
  \. This will be improved in a future version.
