---
title: Manual
drawer_current: manual-index
---

%p
  The basic form for using dom4tools is
  = content_tag :span, class: "highlight" do
    d4t SUBCOMMAND
  \.

%p
  You can access the builtin help for any subcommand by calling
  = content_tag :span, class: "highlight" do
    d4t SUBCOMMAND --help
  \.

%p
  Find more details on the respective subcommand page:

.mdl-grid.mdl-grid--no-spacing
  - data.commands["subcommands"].each do |command|
    = partial "commands/small_tile", locals: { command: command }
