---
title: backup
drawer_current: manual-commands-backup
---

%h4 Description
%p
  Backup the current .trn and .2h files for a game.

%p
  The backups will be saved in the game directory, with a name like
  = content_tag :span, class: "highlight" do
    early_fomoria-17.2h
  \.

%p
  You can
  = link_to "restore", command_path("restore")
  the backup within the game, or
  = link_to "create new games from backup files", command_path("replay")
  (for easy after action reports).

%h4 Examples
%p
  Backup the current .trn and .2h files for "AGameOfThronesOfAscension" as turn 17:

  :code
    # lang: shell
    d4t backup AGameOfThronesOfAscension 17
%p
  If you change something in your turn, and try to backup again, you will get an error:

  :code
    # lang: shell
    d4t backup AGameOfThronesOfAscension 17
  :code
    !!!: Backup for turn 17 already exists in /home/nl/dominions4/savedgames/AGameOfThronesOfAscension, not forcing
%p
  However, you can overwrite an existing backup using the
  = content_tag :span, class: "highlight" do
    \--force
  option:

  :code
    # lang: shell
    d4t backup AGameOfThronesOfAscension 17 --force
%h4 Arguments
%p
  Name of the game to backup.

%p
  Turn number to backup as.

%h4 Options
%p
  = content_tag :span, class: "highlight" do
    \-f, --force

  Overwrite existing backup
