---
title: cd
drawer_current: manual-commands-cd
---

%h4 Description
%p
  Prints the full path to the directory for a given game OR the full path to the Dominions 4 configuration directory.

%p
  Mostly useful for scripting.

%h4 Examples
%p
  Print the directory for "AGameOfThronesOfAscension":

  :code
    # lang: shell
    d4t cd AGameOfThronesOfAscension
%p
  Switch into directory for "AGameOfThronesOfAscension" (using Bash):

  :code
    # lang: shell
    cd $(d4t cd AGameOfThronesOfAscension)
%p
  Print the Dominions 4 configuration directory path:

  :code
    # lang: shell
    d4t cd
