---
title: create
drawer_current: manual-commands-create
---

%h4 Description
%p
  Create the directory for a new game.

%h4 Examples
%p
  Create a new game called "AGameOfThronesOfAscension":

  :code
    # lang: shell
    d4t create AGameOfThronesOfAscension
%p
  Delete an existing game called "ea_testgame" and create a new directory with the same name:

  :code
    # lang: shell
    d4t create ea_testgame --force
%h4 Arguments
%p
  Name of the game to create.

%h4 Options
%p
  = content_tag :span, class: "highlight" do
    \-f, --force

  Recreate existing directory with the same name, deleting the old game.
