---
title: get
drawer_current: manual-commands-get
---

%h4 Description
%p
  Get the newest turn file for a game.

%p
  Currently, this can only copy a turn file from your systems default download folder to the game folder.

%h4 Examples
%p
  Copy new turn file for "AGameOfThronesOfAscension" to the game directory (after you have downloaded it to ~/Downloads/):

  :code
    # lang: shell
    d4t get AGameOfThronesOfAscension
%h4 Arguments
%p
  Name of the game to get turn for.
