---
title: list
drawer_current: manual-commands-list
---

%h4 Description
%p
  Prints a list of all Dominions 4 games that dom4tools can find.

%p
  Mostly useful for debugging, or if you can't get
  = link_to "tab completion", "/installation/tab_completion.html"
  to work.

%h4 Examples
%p
  List all Dominions 4 games:

  :code
    # lang: shell
    d4t list
