---
title: replay
drawer_current: manual-commands-replay
---

%h4 Description
%p
  Create new games from backed up games for easy after action reports or post-commentary videos.

%p
  This way you don't need to exit the game and use the
  = link_to "restore", command_path("restore")
  command for every single turn you want to use.

%p
  The new games will have the name of the old game plus the turn number, e.g.
  = content_tag :span, class: "highlight" do
    AGameOfThronesOfAscension7
  ,
  = content_tag :span, class: "highlight" do
    AGameOfThronesOfAscension8
  ,
  = content_tag :span, class: "highlight" do
    AGameOfThronesOfAscension9
  ,
  = content_tag :span, class: "highlight" do
    AGameOfThronesOfAscension10
  \.

%h4 Examples
%p
  Replay all backed up turns for "AGameOfThronesOfAscension":

  :code
    # lang: shell
    d4t replay AGameOfThronesOfAscension
%p
  Delete all replays for "AGameOfThronesOfAscension" (when you're done with your AAR):

  :code
    # lang: shell
    d4t replay AGameOfThronesOfAscension --delete
  Your backup files will of course be kept intact.
%p
  Replay all backed up turns for "AGameOfThronesOfAscension", starting at turn 23:

  :code
    # lang: shell
    d4t replay AGameOfThronesOfAscension --start-turn=23
%p
  Replay the first 5 backed up turns for "AGameOfThronesOfAscension":

  :code
    # lang: shell
    d4t replay AGameOfThronesOfAscension --count=5
%p
  Replay turns 16 to 22 for "AGameOfThronesOfAscension":

  :code
    # lang: shell
    d4t replay AGameOfThronesOfAscension --start-turn=16 --count=7
%h4 Arguments
%p
  Name of the game to replay.

%h4 Options
%p
  = content_tag :span, class: "highlight" do
    \-s, --start-turn=1
  Start on which turn?

%p
  = content_tag :span, class: "highlight" do
    \-c, --count=COUNT
  Replay how many turns?

%p
  = content_tag :span, class: "highlight" do
    \-f, --force
  Overwrite existing games

%p
  = content_tag :span, class: "highlight" do
    \-d, --delete
  Instead of creating games, delete them
