---
title: restore
drawer_current: manual-commands-restore
---

%h4 Description
%p
  Restore backed up files.

%p
  This will overwrite the current .2h and .trn files, so make sure to back them up first!

%h4 Examples
%p
  Restore turn 3 for "AGameOfThronesOfAscension":

  :code
    # lang: shell
    d4t restore AGameOfThronesOfAscension 3
%h4 Arguments
%p
  Name of the game to restore in.

%p
  Turn number to restore.
