---
title: resubmit
drawer_current: manual-commands-resubmit
---

%h4 Description
%p
  Resubmit a previously submitted turn for a game by email.

%p
  This requires your email to be configured (see
  = link_to "here", command_path("submit"), anchor: "setup"
  ).

%h4 Examples
%p
  Resubmit the last turn for "AGameOfThronesOfAscension":

  :code
    # lang: shell
    d4t resubmit AGameOfThronesOfAscension
%p
  Resubmit turn 19 for "AGameOfThronesOfAscension":

  :code
    # lang: shell
    d4t resubmit AGameOfThronesOfAscension 19
%h4 Arguments
%p
  Name of the game to resubmit.

%p
  (optional) Turn number to resubmit (used for backup). If you don't give this, dom4tools will try to find the current turn (working on the last backup).
