---
title: submit
drawer_current: manual-commands-submit
---

%h4 Description
%p
  Submit the current turn for a game by email.

%p
  This requires your email to be configured (see
  = link_to "below", command_path("submit"), anchor: "setup"
  ).

%h4 Examples
%p
  Resubmit the turn for "AGameOfThronesOfAscension":

  :code
    # lang: shell
    d4t submit AGameOfThronesOfAscension
%p
  Submit turn 19 for "AGameOfThronesOfAscension":

  :code
    # lang: shell
    d4t submit AGameOfThronesOfAscension 19
%p
  Submit turn 19 for "AGameOfThronesOfAscension", but don't create backups:

  :code
    # lang: shell
    d4t submit AGameOfThronesOfAscension 19 --skip-backup
%h4 Arguments
%p
  Name of the game to submit.

%p
  (optional) Turn number to submit (used for backup). If you don't give this, dom4tools will try to find the current turn (working from the last backup).

%h4 Options
%p
  = content_tag :span, class: "highlight" do
    \-b, --skip-backup

  Do not back up before submitting.

%h4
  = content_tag(:a, "Setup", name: "setup")

%p
  Currently, you need to manually edit the configuration file at
  = content_tag :span, class: "highlight" do
    \~/.dom4tools/config.json
  (Linux / Mac) /
  = content_tag :span, class: "highlight" do
    \%LOCALAPPDATA%\dom4tools\config.json
  (Windows)
  and replace the dummy values in the "from", "server", "port", "username" and "password" keys under "smtpsettings".

%p
  Note that you will have to use an
  = link_to "App password", "https://security.google.com/settings/security/apppasswords"
  if you're using GMail.
