---
title: Downloads
drawer_current: downloads
---

%h4= "Latest version: #{ latest_version }"

%p
  dom4tools can be downloaded as a simple executable. Find the proper package for your OS / architecture below.
  If you're looking to install via your systems package manager, view the
  = link_to "installation instructions", "/installation/index.html"
  \.

%p
  After downloading, simply extract the zip and put it in your path or check out the
  = link_to "installation instructions", "/installation/index.html"
  \.

-#%p
  -#If you're so inclined, you can download the
  -#= link_to "checksums", "https://dl.bintray.com/promisedlandt/dom4tools/dom4tools_#{ latest_version }_SHA256SUMS?direct"
  -#for all packages to verify integrity.

- product_versions.each do |os, versions|
  .download-card.mdl-card.mdl-shadow--2dp
    .mdl-card__title.mdl-card--expand{ style: "background: url('/assets/images/icons/icon_#{ os.to_s.downcase }.png') center right 15% no-repeat; background-size: 60px 60px;" }
      %h2.mdl-card__title-text= pretty_os(os)
    .mdl-card__supporting-text
      - versions.each do |arch, url|
        = link_to arch_for_filename(url), url, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored js-ripple-effect"
    .mdl-card__actions.mdl-card--border
      = link_to "View installation instructions", "/installation/index.html", class: "mdl-button mdl-button-colored mdl-js-button mdl-js-ripple-effect"
