---
title: Introduction
drawer_current: introduction
---

%p
  Dom4tools is a command line application to help you manage your
  = link_to "Dominions 4", "http://illwinter.com/dom4/"
  play-by-email games.

%p
  Among other things, it includes commands for backup, restoration and submission of games to Llamaserver.

%p
  You should be able to run dom4tools on any PC / OS that can run Dominions 4.

%p
  = link_to "Installation", "/installation/index.html"
  and
  = link_to "usage", "/examples/index.html"
  are meant to be simple, or at least well documented, so users who are not comfortable on the command line can still try dom4tools, so
  = link_to "dive right in", "/installation/index.html"
  \.

%h5
  %i.mdl-color-text--blue-grey-400.material-icons{ role: :presentation } warning
  For Windows Users

%p
  %strong
    While this application does run on Windows, you will get little to no use out of it if you are not comfortable with command line applications, and there is severly limited support for Windows users.

%p
  "Limited support" means that I will give bugs on Windows the same attention as bugs on Linux / MacOS, but will not help you with anything that is not a bug, including installation, setup and usage.
